@model PersonalChallenge.Models.ChallengeViewModels.ChallengeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChallengeDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChallengeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChallengeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt>
           Proofs
        </dt>
        <dd>
           @foreach (var item in Model.Proofs)
           {
            <div>@item.OwnerName | @item.Comment | @item.Quantity @item.MesuredIn </div>
            <img src="~/Challenges/@Model.Id/@item.ContentPath" style="overflow: hidden; position: relative; max-width:400px;" />
             <br />
           }
        </dd>
    </dl>
</div>
<div>
    @if (!Model.AlreadyAdded)
    {
     @Html.ActionLink("Add Proof", "AddProof", new { Model.Id })
    }
    | <a asp-action="Index">Back to List</a>
</div>
