@model PersonalChallenge.Models.ChallengeViewModels.ChallengeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div id="wrapper">

    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>@Model.Name</h1>
                </header>
              
                    <div class="actions">
                        @if (!Model.AlreadyAdded)
                        {
                            @Html.ActionLink("Add Proof", "AddProof", new { Model.Id },new {@class="button" })
                        }
                         <a asp-action="Index" class="button">Back to List</a>
                    </div>
                <h3>Is active: @Model.IsActive</h3>
                <h4>Type: <i>@Model.ChallengeType</i> by @Model.OwnerName</h4>
                
                <p>@Model.Description</p>              
            </div>
        </section>
        <section id="one" class="tiles">
          @foreach (var item in Model.Proofs)
          {
            <article>
                <span class="image">
                    <img src="~/Challenges/@Model.Id/@item.ContentPath" alt="" />
                </span>
                <header class="major">
                    <h3>@item.OwnerName</h3>
                    <p>Did @item.Quantity @item.MesuredIn</p>
                    <p><blockquote>@item.Comment</blockquote></p>
                </header>
            </article>
}

          </section>
    </div>
</div>


