@model PersonalChallenge.Models.TeamViewModels.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div id="wrapper">

    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>@Model.Name</h1>
                </header>
                <div>
                    <a asp-action="Unroll" class="button">Unroll from this team</a>
                    <a asp-action="Index" style="text-underline-position:unset">Back to List</a> 
                </div>
               <p>@Model.Description</p>
                <span class="image main"><img src=~/TeamPics/@Model.TeamPic alt="" /></span>
                <h2>Challenges Done: @Model.ChallengesDone</h2>
                <p>Challenges:</p>
                @foreach (var item in Model.Challenges)
                {
                    <div><b>@item.Name  @item.Description</b> <i>Is Active: @item.IsActive</i></div>
                    <br />}
                <p>Team Members:</p>
                @foreach (var item in Model.Members)
                {
                    <div><b>@item.Name  @item.Surname</b> <i>Challenges Done:  @item.ChallengesDone</i></div>
                    <br />}
            </div>
        </section>
    </div>
</div>
