@model IEnumerable<PersonalChallenge.Models.TeamViewModels.TeamListViewModel>

@{
    ViewData["Title"] = "Index";
}


<div id="wrapper">
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="images/pic07.jpg" alt="" />
            </span>
            <header class="major">
                <h1>Teams</h1>
            </header>
            <div class="content">
                <p>
                    Enroll to an existing team
                    or create a new One <a asp-controller="Teams" asp-action="Create" class="button">Create a team</a>
                </p>
            </div>
        </div>
    </section>

    <section id="two" class="spotlights">
        @foreach (var item in Model)
        {
            <section>
                <a class="image">
                    <img src="~/TeamPics/@item.TeamPic" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>@item.Name</h3>
                        </header>
                        <p>Members: @item.Members <br />Challenges Done: @item.ChallengesDone <br />Active challenges: @item.ActiveChallenges</p>
                        <ul class="actions">
                            <li>@Html.ActionLink("Enroll", "Enroll", new { item.Id},new {@class = "button" })</li>
                        </ul>
                    </div>
                </div>
            </section>
        }   
    </section>

</div>