@model IEnumerable<PersonalChallenge.Models.TeamViewModels.TeamListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="danger">
   <label style="color:red;Background:ActiveBorder">@TempData["Errors"]</label> 
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChallengesDone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Members)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveChallenges)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamPic)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallengesDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveChallenges)
            </td>
            <td>
                <img src="~/TeamPics/@item.TeamPic" style="overflow: hidden; position: relative; max-width:200px;" />
            </td>
            <td>
                @Html.ActionLink("Enroll", "Enroll", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
