@model PersonalChallenge.Models.UserViewModels.ProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
}



<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>@Model.Name @Model.Surname</h1>
            </header>
            <p><span class="image left"><img src="~/ProfilePics/@Model.ProfilePic" alt="" /></span> @Model.Email <br /> @Model.Birthday <br /> Challenges Done: @Model.ChallengesDone <br /> 
            @if (Model.TeamId != null)
            {
                @Html.ActionLink(Model.TeamName, "Details", "Teams", new { id = Model.TeamId }) <br />
                @Html.ActionLink("Go to Challenges", "Index", "Challenges")
                }
            </p>
        </div>
    </section>
</div>


